* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container {
  width: 100%;
}

.img-wrapper > img {
  height: auto;
  width: 100%;
}

.img-wrapper-med > img {
    height: auto;
    width: 75%;
}

.img-wrapper-small > img {
    height: auto;
    width: 50%;
}

.work {

}

header {
  background-color: #E8F3F2;
  padding: 1rem;
}

.hero {
  height: 100vh;
  object-fit: cover;
  text-align: center;
}

.design-process {

}

.hero-logo {
  position: absolute;
  top: 20vh;
}

.hero-text {
  color: #E8F3F2;
  font-family: "Josefin sans", "brandon grotesque", "sans serif";
  position: absolute;
  top: 60vh;
  font-size: 2rem;
  margin: 0 auto;
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.intro {

}

.icon-mobile {
  position: relative;
  width: 33px;
  height: auto;
}

.project {
  background-color: #F9F9FA;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-top: 6rem;
}

.social {
  margin: 2rem;
}

.process-1 {
  margin-left: 5%;
}

.process-2 {
  margin-left: 20%;
}

.process-3 {
  margin-left: 40%;
}

.process-4 {
  margin-left: 60%;
}

blockquote {
  font-size: 1.9rem;
  color: #730039;
  font-family: Nunito; "sans serif";
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1 {
  text-align: center;
  background-color: #035F68;
  color: #F9F9FA;
  font-family: "Josefin sans", "brandon grotesque", "sans serif";
  font-size: 2.6rem;
  font-weight: regular;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  color: ;
  font-family: "Josefin sans", "brandon grotesque", "sans serif";
  font-size: 1.3rem;
  font-weight: semibold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

h3 {
  color: #3B3F41;
  font-family: "Josefin sans", "brandon grotesque", "sans serif";
  font-size: 2.6rem;
  line-height: 120%;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

h4 {
  color: #730039;
  font-family: Nunito; "sans serif";
  font-size: 1.9rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

h5 {
  color: #3B3F41;
  font-family: "Josefin sans", "brandon grotesque", "sans serif";
  font-size: 1.8rem;
  font-weight: semibold;
  line-height: 141%;
}

li {
  color: #3B3F41;
  font-family: Nunito; "sans serif";
  font-size: 1.6rem;
  font-weight: lighter;
  margin-bottom: .75rem;
}

.small-list {
  font-size: 1.4rem;
}

p {
  color: #3B3F41;
  font-family: Nunito; "sans serif";
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 141%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.small {
  font-size: 1.4rem;
}

a {
  font-family: "Josefin sans", "brandon grotesque", "sans serif";
  font-size: 1.3rem;
  font-weight: semibold;
  text-transform: uppercase;
}

button {
  background-color: #EF3B68;
  color: #F2F2F3;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
  text-transform: uppercase;
}

footer {
  background-color: #035F68;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}

/* dogear case study*/

.case-study-hero {
  text-align: center;
}

.grey {
  background-color: #F9F9FA;
}

.centered {
  text-align: center;
}

.body-bullet {
  font-size: 1.6rem;
  list-style-type: disc;
  list-style-position: inside;
  list-style-image: none;
}


/* padding isn't working */
.key-takeaway {
  height: auto;
  padding: 2rem;
  width: 100%;
}

hr {
  background-color: #E8F3F2;
  display: block;
  height: 1.5px;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.persona-img > img {
  height: auto;
  width: 30%;
}

h6 {
  font-family: Nunito; "sans serif";
  font-size: 1.4rem;
  font-weight: semibold;
  padding-bottom: .5rem;
}

.content {
  padding: 2rem;
}
