/* Global */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container {
  width: 100%;
}

/* -------------------------------------------------------- */
/* sections and flex*/

header {
  background-color: #E8F3F2;
  padding: 2rem 5%;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header-flex {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-logo {
  flex-grow: 3;
}

.header-work, .header-bio, .header-contact {
  flex-grow: .5;
}

.hero {
  height: 100vh;
  object-fit: cover;
  text-align: center;
}

/* centering seems like a hack */
.hero-content {
  position: absolute;
  top: 30vh;
  left: calc(50% - 40%);
  width: 80%;
}

.design-process {

}

.work {

}

.intro-1 {
  background-color: #E8F3F2;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.project {
  background-color: #F9F9FA;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-top: 6rem;
}

.button-flex {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  max-width: 100%;
  align-items: center;
}

.case-study-hero {
  padding-top: 4rem;
  text-align: center;
}

.process-steps {
  background-color: #E8F3F2;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.process-steps-flex {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
}

.process-step {
  margin-bottom: 2rem;
}

.phase {

}

.overview-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overview-section {
  text-align: center;
}

.prob-sol-flex {
  flex-direction: column;
}

.step-intro {
  text-align: center;
}

.key-takeaway {
  background-image: url("/images/mobile/parentheses.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  margin-bottom: 4rem;
  margin-top: 4rem;
  padding: 5%;
}

.key-takeaway p {
  padding-left: 12%;
  padding-right: 12%;
}

.survey-flex {
  flex-direction: column;
}

.user-stories-flex {
  display: flex;
  flex-direction: column;
}

.logo-pref-flex {
  display: flex;
  flex-direction: column;
}

.enter-mobile-flex {
  display: flex;
  flex-direction: row;
}

.enter-mobile-1 {
  margin-right: 5%;
}

.pref-test-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.option-a {
  max-width: 50%;
}

.option-b {
  max-width: 50%;
}

.option-c {
  max-width: 400px;
}

.final-thoughts {

}

footer {
  background-color: #035F68;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 8rem;
  text-align: center;
}

/* -------------------------------------------------------- */
/* Typography */

.hero-text {
  color: #E8F3F2;
  font-family: "Josefin sans", "brandon grotesque", "sans serif";
  /* position: absolute; */
  font-size: 2rem;
  /* margin: 0 auto; */
  /* display: block; */
}

.bold {
  font-weight: bold;
}

blockquote {
  border-left: 1.75px solid #99CCCC;
  color: #730039;
  font-size: 1.9rem;
  font-family: Nunito; "sans serif";
  line-height: 141%;
  margin-top: 1rem;
  /* padding-bottom: 1rem; */
  padding-left: 1.5rem;
  /* padding-top: 1rem; */
}

h1 {
  text-align: center;
  background-color: #035F68;
  color: #F9F9FA;
  font-family: "Josefin sans", "brandon grotesque", "sans serif";
  font-size: 2.6rem;
  font-weight: regular;
  margin-bottom: 2rem;
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.img-wrapper + h1 {
  margin-top: 0;
}

.overview-flex h1 {
  margin: 0;
}

h2 {
  color: ;
  font-family: "Josefin sans", "brandon grotesque", "sans serif";
  font-size: 1.3rem;
  font-weight: semibold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.step-intro h2 {
  color: #035F68;
}

h3 {
  color: #3B3F41;
  font-family: "Josefin sans", "brandon grotesque", "sans serif";
  font-size: 2.6rem;
  line-height: 120%;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.step-intro h3 {
  color: #3B3F41;
  padding-bottom: 3rem;
  padding-top: 0rem;
}

.intro-1 h3 {
  color: #730039;
}

h4 {
  color: #730039;
  font-family: Nunito; "sans serif";
  font-size: 1.9rem;
  line-height: 141%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.intro-1 h4 {
  color: #3B3F41;
}

.project h4 {
  color: #05055E;
  margin-bottom: 4rem;
}

.case-study-hero h4 {
  color: #05055E;
  margin-bottom: 3rem;
}

footer h4 {
  color: #F9F9FA;
}

footer p {
  color: #F9F9FA;
  margin-bottom: 6rem;
}

h5 {
  color: #3B3F41;
  font-family: "Josefin sans", "brandon grotesque", "sans serif";
  font-size: 1.8rem;
  font-weight: semibold;
  line-height: 141%;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
}

.overview-section h5 {
  margin-top: .5rem;
}

.process-step h5 {
  margin-top: .5rem;
  position: relative;
}

.underline::after {
  background-color: #EF3B68;
  bottom: 0;
  content: '';
  height: 1.75px;
  left: calc(50% - 35%);
  width: 70%;
  position: absolute;
 }

h6 {
  font-family: Nunito; "sans serif";
  font-size: 1.4rem;
  font-weight: semibold;
  margin-bottom: .5rem;
}

p {
  color: #3B3F41;
  font-family: Nunito; "sans serif";
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 141%;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.intro-1 p {
  margin-bottom: 0;
}

.user-stories p {
  margin-bottom: 0;
}

.small {
  font-size: 1.4rem;
}

li {
  color: #3B3F41;
  font-family: Nunito; "sans serif";
  font-size: 1.6rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}

header li {
  margin-bottom: 0;
}

.body-bullet {
  font-size: 1.6rem;
  line-height: 141%;
  list-style-image: none;
  list-style-position: inside;
  list-style-type: disc;
  padding-left: 12%;
  text-indent: -2.2rem;
}

.small-list {
  font-size: 1.4rem;
}


/* -------------------------------------------------------- */
/* Button link styling */

button {
  background-color: #EF3B68;
  border: none;
  border-radius: 2rem;
  color: #F2F2F3;
  font-family: "josefin sans", "brandon grotesque", "sans serif";
  font-size: 1.3rem;
  margin-bottom: 2rem;
  min-width: 70%;
  padding-bottom: 1.25rem;
  padding-top: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

a {
  color: #035F68;
  font-family: "Josefin sans", "brandon grotesque", "sans serif";
  font-size: 1.3rem;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
}


/* -------------------------------------------------------- */
/* Image and icon styling */

.img-wrapper > img {
  height: auto;
  width: 100%;
}

.img-wrapper + footer {
  margin-top: 0;
}

.img-wrapper-med > img {
  height: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 75%;
}

.img-wrapper-small > img {
  height: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 50%;
}

.std-shadow {
  box-shadow: -1px 4px 8px #E0E0E0;
}

.hero-logo {
  /* margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 20vh; */
}

.icon-mobile {
  position: relative;
  height: 3rem;
  width: auto;
}

.persona-photo, .persona-profile {
  display: inline-block;
}

/* .persona-intro {
  float: left;
} */

.logo-footer {
  height: auto;
  width: 7%;
}

.social {
  margin: 0 5%;
}

.process-1, .process-2, .process-3, .process-4 {
background-position: center;
background-repeat: no-repeat;
background-size: contain;
margin: 4rem 5%;
/* margin-bottom: 4rem;
margin-top: 4rem; */
padding: 5%;
}

.process-1 {
  background-image: url("/images/mobile/process-1-background.png");
}

.process-2 {
  background-image: url("/images/mobile/process-2-background.png");
}

.process-3 {
  background-image: url("/images/mobile/process-3-background.png");
}

.process-4 {
  background-image: url("/images/mobile/process-4-background.png");
}

.overview-section .icon-mobile {
  margin-bottom: .5rem;
  margin-top: 4rem;
}

.persona-img > img {
  border-radius: 2px;
  box-shadow: -1px 4px 8px #BDBDBD;
  height: auto;
  margin-bottom: 1.5rem;
  width: 40%
}


/* -------------------------------------------------------- */
/* Spacing and colors */

.grey {
  background-color: #F9F9FA;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.centered {
  text-align: center;
}

hr {
  background-color: #E8F3F2;
  border: none;
  color: #E8F3F2;
  display: block;
  height: 1.5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  width: 20%;
}

.content {
  padding-left: 2rem;
  padding-right: 2rem;
}


/* for desktop links: https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */
